[submodule "apps/console"]
path = apps/console
url = https://github.com/alwaysbegrowing/console.git
branch = main
[submodule "apps/api"]
path = apps/api
url = https://github.com/alwaysbegrowing/api.git
branch = main
[submodule "apps/website"]
path = apps/website
url = https://github.com/alwaysbegrowing/website.git
branch = main
